<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/foundation.min.css">
	<title> Angular JS Test </title>
</head>

<body>
	<div ng-app="myApp">
		<div ng-controller="FirstCtrl">
			<input type="text" ng-model="data.message">			
			<h1>{{data.message}}</h1>
		</div>

		<div ng-controller="SecondCtrl">
			<input type="text" ng-model="data.message">			
			<h1>{{data.message}}</h1>
			test ok
		</div>
	</div>




	<script src="script/angular.js"></script>
	<script src="script/main.js"></script>		

	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</body>

</html>